@charset "UTF-8";

*{margin: 0; padding: 0; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

/*-----===HEADER===-----*/
header,
.logo,
nav, .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    min-height: 5em;
    height: 8vh;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 300;
}

.logo{
    height: 100%;
    width: 25%;
}

nav{
    height: 100%;
    width: 60%;
}
.nav-content{
    height: 100%;
    width: 100%;
    list-style: none;
    justify-content: space-around;
}

.conta{
    height: 4em;
    width: 4em;
    background-color: aquamarine;
    border-radius: 4.5em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conta a{
    width: 100%;
    height: 100%;
}

/*-----===MAIN===-----*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/*-----===FOOTER===-----*/
footer,
.footer-links,
.mapa, .eventos, .seja-produtor, .cidades,
.footer-redes ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    min-height: 25em;
    height: 35vh;
    background-color: slateblue;
}

.footer-links{
    height: 70%;
    width: 95%;
    justify-content: space-around;
    border-top: solid 2px rgb(210, 210, 210);
}

.mapa, .eventos, .seja-produtor, .cidades{
    height: 90%;
    width: 20%;
    align-items: flex-start;
    justify-content: flex-start;
}
.mapa h2, .eventos h2, .seja-produtor h2, .cidades h2{
    height: 15%;
    width: 90%;
    text-align: center;
    border-bottom: solid 1px rgb(175, 175, 175);
}
.mapa ul, .eventos ul, .seja-produtor ul, .cidades ul{
    height: 85%;
    width: 90%;
    list-style: none;
}
.mapa li, .eventos li, .seja-produtor li, .cidades li{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-redes{
    height: 10%;
    width: 95%;
    border-top: solid 2px rgb(210, 210, 210);
}
.footer-redes ul{
    height: 100%;
    width: 100%;
    align-items: flex-end;
}